<div>
	<form>
		<table>
			<tr>
				<td>Username : </td>
				<td><input type="text" ng-model="vm.username" /></td>	
			</tr>
			<tr>
				<td>Password : </td>
				<td><input type="password" ng-model="vm.password" /></td>
			</tr>
			<tr>
				<td>Confirm Password : </td>
				<td><input type="password" ng-model="vm.confirmPassword" /></td>
			</tr>
			<tr>
				<td>age : </td>
				<td><input type="number" ng-model="vm.age" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Add User" ng-click="vm.addNewUser();" /></td>
			</tr>
		</table>
	</form>
</div>